body {
    font-family: sans-serif;
    text-align: center;
}

h1 {
    margin-top: 20px;
}

input[type="number"] {
    margin-top: 10px;
    padding: 5px;
}

button {
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
}

#resposta {
    margin-top: 10px;
    font-weight: bold;
}